<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hc.mapper.letter.TbLetterMapper" >
	  
	<select id="getLetterMess" resultType="com.hc.pojo.usually.LetterPageData">
		SELECT
			tl.tb_id as tbId,
			tl.tb_number as tbNumber,
			tl.sending_state as sendingState,
			tu.phone as phone,
			tu.tb_email as tbEmail,
			tu.nickname as nickname,
			tl.create_time as createTime,
			CASE WHEN tlf.tb_id IS NULL THEN 0 ELSE 1 END as follow
		FROM
			`tb_letter` tl
		LEFT JOIN tb_user tu ON tu.tb_id = tl.tb_user_id
		LEFT JOIN tb_letter_follow tlf ON tl.tb_id = tlf.tb_letter_id AND tlf.tb_admin_id = #{id}
		WHERE tl.tb_admin_id = #{id}
		ORDER BY tl.create_time DESC
		<if test="page != null and size != null">
			LIMIT #{start}, #{size}
		</if>
	</select>
	
	<select id="getLetterMessCount" resultType="java.lang.Integer">
		SELECT COUNT(1) FROM `tb_letter` WHERE tb_admin_id = #{id}
	</select>
	
	<insert id="insertSelective" keyProperty="id" useGeneratedKeys="true">
		INSERT INTO `tb_letter` 
		(`tb_admin_id`,`tb_number`, `tb_user_id`, `tb_send_mess_id`, `sending_state`, `del_time`, `create_time` )
		VALUES
		(#{tbAdminId},#{tbNumber}, #{tbUserId}, #{sendMessId}, #{sendingState}, NULL, now() );
	</insert>
	
	
	<delete id="deleLetter" parameterType="java.util.List">
		DELETE FROM tb_letter_follow WHERE tb_letter_id IN
		<foreach item="item" collection="list" open="(" separator="," close=")">
	      #{item}
        </foreach>
        ;
		DELETE 
		FROM
			tb_letter 
		WHERE tb_id in
  		<foreach item="item" collection="list" open="(" separator="," close=")">
	      #{item}
        </foreach>
        ;
	</delete>
	
</mapper>