<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hc.mapper.askRecord.TbAskRecordMapper" >
	
	
	<select id="getAskRecord" resultType="com.hc.pojo.askRecord.TbAskRecord">
		SELECT
			tb_id AS tbId,
			tb_user_id AS tbUserId,
			tb_number AS tbNumber,
			tb_name AS tbName,
			tb_draft as tbDraft,
			create_time AS createTime
		FROM
			tb_ask_record 
		WHERE
			tb_admin_id = #{tbAdminId} 
		<if test="tbName!=null and tbName!=''">
			AND tb_name like concat('%',#{tbName},'%')
		</if>
		order by create_time desc
		<if test="page != null and pageSize != null">
			LIMIT #{start}, #{pageSize}
		</if>
	</select>
	
	<select id="getAskRecordCount" resultType="java.lang.Integer">
		SELECT COUNT(1) FROM `tb_ask_record` WHERE tb_admin_id = #{tbAdminId}
		<if test="tbName!=null and tbName!=''">
			AND tb_name like concat('%',#{tbName},'%')
		</if>
	</select>
	
	<insert id="insertSelective" keyProperty="id" useGeneratedKeys="true">
	INSERT INTO `tb_ask_record` ( `tb_user_id`,`tb_admin_id`, `tb_number`, `tb_name`, `tb_enclosure`, `tb_history`, `tb_draft`, `del_time`, `create_time`, `tb_desc` )
	VALUES
		( #{tbUserId}, #{tbAdminId},#{tbNumber}, #{tbName}, NULL, NULL, #{tbDraft}, NULL, now(), NULL );
	</insert>
	
	<delete id="deleAskRecord" parameterType="java.util.List">
		DELETE 
		FROM
			tb_ask_record 
		WHERE
			tb_id IN
			<foreach item="item" collection="list" open="(" separator="," close=")">
		      #{item}
	        </foreach>
	</delete>
	
	<update id="updateAskRecord" parameterType="com.hc.pojo.askRecord.TbAskRecord">
		UPDATE tb_ask_record 
		SET tb_name = #{tbName},
		tb_draft = #{tbDraft},
		update_time = now()
		WHERE
			tb_id = #{tbId}
	</update>
	
</mapper>