<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hc.mapper.tbAreaDynamics.TbAreaDynamicsMapper" >
	
	<sql id="Base_Column_List">
		tb_id as tbId,tb_title as tbTitle,tb_content as tbContent,
		tb_figure_path as tbFigurePath ,del_time as delTime, create_time as createTime,
		tb_html_path as tbHtmlPath
	</sql>
	
   	<select id="queryEveryAreaDynamics" resultType="com.hc.pojo.entity.TbAreaDynamics">
		select
		<include refid="Base_Column_List" />
		from tb_area_dynamics
	</select>
	
    <!-- 添加 各区动态 -->
	<insert id="insertAreaDynamics" keyProperty="tbId" useGeneratedKeys="true" parameterType="com.hc.pojo.entity.TbWorkDynamics">
		INSERT INTO `tb_area_dynamics`
			(
				tb_title,
				tb_content,
				tb_figure_path,
				del_time,
				create_time,
				tb_html_path,
				data_time
			)
			VALUES ( 
				#{tbTitle}, 
				#{tbContent}, 
				NULL, 
				NULL, 
				#{createTime}, 
				'http://www.xinhuanet.com//gangao/2019-12/10/c_1125331147.htm',
				#{dataTime}
			);
			
  	</insert>
  
</mapper>