<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hc.mapper.tbAreaDynamics.TbWorkDynamicsMapper" >
	
	<sql id="Base_Column_List">
		tb_id as tbId,tb_title as tbTitle,tb_content as tbContent,
		tb_figure_path as tbFigurePath ,del_time as delTime, create_time as createTime,
		tb_html_path as tbHtmlPath,data_time as dataTime,data_time as dataTime
	</sql>
	
	
	<select id="queryWorkDynamics" resultType="com.hc.pojo.entity.TbWorkDynamics">
		select
		<include refid="Base_Column_List" />
		from tb_work_dynamics
		LIMIT #{limitsTart},#{limitsEnd}
	</select>
	
	<select id="queryWorkDynamicsCount" resultType="java.lang.Integer">
		select COUNT(1) from tb_work_dynamics
	</select>
  
  <!-- 添加 工作动态 -->
	<insert id="insertWorkDynamics" keyProperty="tbId" useGeneratedKeys="true">
	
		INSERT INTO `tb_work_dynamics`
			(
				tb_title,
				tb_content,
				tb_figure_path,
				del_time,
				create_time,
				tb_html_path,
				data_time
			)
			VALUES ( 
				#{tbTitle}, 
				#{tbContent}, 
				NULL, 
				NULL, 
				#{createTime}, 
				'http://www.xinhuanet.com//gangao/2019-12/10/c_1125331147.htm',
				#{dataTime}
			);

	</insert>
	
  	<select id="queryWorkDynamicsTbTitleRepeat" resultType="java.lang.Integer">
		select COUNT(1) from tb_work_dynamics
			where tb_title = #{tbTitle} and data_time = #{dataTime}
	</select>
  
</mapper>